*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 10px;
    font-family: 'Source Serif Pro', serif;
}
header{
    font-size: 1.8em;
    padding-top: 20px;
}
#navbar{
        position: fixed;
        min-width: 290px;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 100%;
        border-right: solid;
        border-color: rgba(0, 22, 22, 0.4);

}

#navbar a{
    text-decoration: none;
    color:inherit;
}
.nav-list ul{
    list-style-type: none;
    height: 50%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
   
}
.nav-list ul li {
    border-top: 1px solid;
    padding: 10px;
}
.nav-list a{
    text-decoration: none;
    color:inherit;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
.main-section{
    
    margin-bottom: 30px;
}
.article{
    padding-left: 40px;
}
.article p {
    padding: 11px 0;
}
.article ul{
    list-style-type: none;
    line-height: 2em;
    padding: 10px 0 10px 20px;
}

.article code{
    display: block;
    width: 95%;
    background-color: rgba(150, 155, 155, 0.562);
}
strong{
    display: block;
    margin: 13px 0;
    
}
@media only screen and (max-width: 600px){
    #navbar, #main-doc{
       position: relative;
       width: 100%;
       margin-left: 0;
    }
    
    #navbar{
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 300px;
    }
    
}